<div>
  <div class="card">
    <div class="card-header flex-wrap">
      <div class="clearfix">
        <div class="float-left">
          <i class="mdi mdi-crown text-danger icon-lg"></i>
        </div>
        <a target="_blank"  href="http://{{website.adminUrl}}">
          <div class="float-right">
            <p class="mb-0">www.{{website.websiteName}}.com</p>
          </div>
        </a>
      </div>
      <div class="card-body">
        <p class="text-muted mt-3 mb-0">
          {{website.description}}
        </p>
      </div>
    </div>
  </div>
</div>
