<div>
  <div class="card">
    <div class="card-header flex-wrap">
      <div class="clearfix">
        <div class="float-left">
          <i class="mdi mdi-crown text-danger icon-lg"></i>
        </div>
        <div *ngIf="website.status==='LIVE'">
        <a target="_blank"  href="http://{{website.adminUrl}}">
          <div class="float-right">
            <input type="button" class= " btn btn-primary" value="Go to website" />
          </div>
        </a>
      </div>
      <div *ngIf="website.status==='SETUP_COMPLETE'">
          <div class="float-right">
            <input type="button" class= " btn btn-primary" value="Go live" (click)="goLive(website)"/>
          </div>
      </div>
      </div>
      <div class="card-body">
          <div>
             {{website.websiteName}}
          </div>
        <p class="text-muted mt-3 mb-0">
          {{website.description}}
        </p>
      </div>
    </div>
  </div>
</div>
